/* #datetimepicker {
    width: 100px;
    padding: 0;
    height: 20px;
    line-height: 20px;
}

#timepicker {
    width: 100px;
    padding: 0;
    height: 20px;
    line-height: 20px;
}

.xdsoft_datetimepicker .xdsoft_noselect .xdsoft_ {

    top: 460px !important;
    left: 380px !important;
    z-index: 4;
} */
